<!DOCTYPE html>
<!-- This is the website created by ...... -->
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Blog</title>

</head>


<body>
    <div id="container">
        <!-- this area is for the logo -->
        <header>
            <a href="home.html"><img src="images/logo1.png" alt="myBlog logo" /></a>
            <h1>My First Blog</h1>
        </header>

        <!-- this area is for the hyperlinks to other pages -->
        <nav>
            <ul>
                <li><a href="home.html">Home</a> </li>
                <li>
                    <a href="education.html">Study</a>
                </li>
                <li><a href="experience.html">Work</a></li>
            </ul>
        </nav>
        <!-- main content of the website -->
        <main></main>

        <!-- footer of the webpage -->
        <footer>
            &copy; Copyright 2020. All Rights reserved. <br />
            <a href="mailto:singhharkirat051@gmail.com">singhharkirat051@gmail.com</a>
        </footer>
    </div>
</body>

</html>